.header {
  /*background-image: linear-gradient(
    to bottom,
    rgba($color-grey-dark-1, 1),
    rgba($color-black, 1)
  );*/

  background: #434343;
  background: linear-gradient(to bottom, #434343, #000);
  background: linear-gradient(to bottom, #434343, #000);

  clip-path: polygon(0 0, 100% 0, 100% 60vh, 0% 100%);
  clip-path: polygon(0 0, 100% 0, 100% 60vh, 0% 100%);
  height: 75vh;
  position: relative;
  @include respond(tab-port) {
    clip-path: polygon(0 0, 100% 0, 100% 65vh, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 65vh, 0% 100%);
  }
  @include respond(phone) {
    clip-path: polygon(0 0, 100% 0, 100% 70vh, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 70vh, 0% 100%);
  }
  &__logo-box {
    height: 10rem;
    left: 3rem;
    position: absolute;
    top: 3rem;
    width: 10rem;
  }

  &__logo {

    animation: logoAnim 0.7s ease-in-out 0.5s;
    animation-fill-mode: backwards;
    height: 90%;
    transition: transform 1s;
  }

  &__text-box {
    left: 50%;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
