body {
  color: $color-grey-dark-3;
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  line-height: 1.7;
}

.heading-primary {
  align-items: center;
  backface-visibility: hidden;
  color: $color-white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-bottom: 7rem;
  text-align: center;
  text-transform: uppercase;
  &-main {
    animation: moveFromTop 1s ease-out;
    display: inline-block;
    font-size: 9rem;
    font-weight: 200;
    letter-spacing: 4rem;
    margin-right: -3.48rem;

    @include respond(tab-port) {
      letter-spacing: 3.5rem;
      margin-right: -2.98rem;
    }

    @include respond(phone) {
      letter-spacing: 2.7rem;
      margin-right: -2.18rem;
    }

    &--f {
      color: $color-primary;
    }
  }

  &-sub {
    animation: moveFromRight 1s ease-out;
    display: inline-block;
    font-size: 3rem;
    font-weight: 200;
    letter-spacing: 1rem;

    @include respond(tab-port) {
      letter-spacing: 0.7rem;
    }

    @include respond(phone) {
      letter-spacing: 0.4rem;
    }
  }
}

.heading-secondary {
  background: linear-gradient(to right, $color-primary, $color-black);
  background-clip: text;
  background-clip: text;
  color: transparent;
  display: inline-block;
  font-size: 2.7rem;
  font-weight: 600;
  letter-spacing: 0.7rem;
  text-transform: uppercase;

  &--white {
    background: linear-gradient(to right, $color-primary, $color-white);
    background-clip: text;
    background-clip: text;
    color: transparent;
  }
}

.paragraph {
  font-size: $default-font-size;
  margin: 0 auto;
  max-width: 70rem;
  padding: 2rem;
  &:not(:last-child) {
    margin-bottom: 3rem;
  }
}
