.section-about {
  margin-top: -20rem;
  padding-top: 25rem;
  padding-bottom: 15rem;
  background-color: $color-grey-light-3;
  text-align: center;

  @include respond(tab-port) {
    margin-top: -15rem;
    padding-top: 20rem;
    padding-bottom: 10rem;
  }
}
  

.section-philosophy {
  margin-top: -5rem;
  background-image: linear-gradient(
    to bottom,
    rgba($color-black, 1),
    rgba(/*$color-grey-dark-1*/ $color-grey-light-3, 1)
  );
  padding: 10rem 0;
  transform: skewY(-4deg);

  & > *{
    transform: skewY(4deg);
  }

  @include respond(tab-port){
    padding-bottom: 7rem;
  }


  @include respond(phone)
  {
    padding-bottom: 5rem;
  }

}


.section-services {
  margin-top: -10rem;
  padding: 15rem 0;
  background-color: $color-grey-light-3;

  @include respond(tab-port){
    padding-bottom: 7rem ;
  }

  @include respond(phone)
  {
    padding-bottom: 3rem;
  }
}